@using Test_Manager_Alpha.Models;
@model Test_Manager_Alpha.Models.TestCase

@{
	ViewBag.Title = @Model.Name;
	Layout = "/Views/Shared/_Layout.cshtml";
}

<div><a asp-action="ShowInfo" asp-controller="Project" asp-route-projectName=@Model.Suite.Project.Name>Return</a></div>

<form asp-action="Edit" asp-controller="TestCase" asp-route-id="@Model.Id">
	<h1> </h1>
	<input type="submit" value="Save" />
	<div>
		<h3>Test case Name:</h3>
		<input type ="text" asp-for="Name" />
		<h3>Description:</h3>
		<input type="text" asp-for="Description"/>
	</div>

	<table class="table">
		<tr><th>Id</th><th>Action</th><th>Expected Result</th></tr>
		@for (int i = 0; i < Model.Steps.Count; i++)
		{
			<tr >
				<td size="1">@(i+1)</td>
				<td><input type="text" asp-for="@Model.Steps[i].Action" size="50"></td>
				<td><input type="text" asp-for="@Model.Steps[i].ExpectedResult" size="50"></td>
				<td><a asp-action="DeleteStep" asp-controller="TestCase" asp-route-testCaseId=@Model.Id asp-route-stepId=@Model.Steps[i].Id>Delete Step</a></td>
			</tr>
		}
		<tr><a asp-action="AddStep" asp-controller="TestCase" asp-route-testCaseId=@Model.Id>Add Step</a></tr>
	</table>
</form>