@using Test_Manager_Alpha.Models;
@model Test_Manager_Alpha.Models.TestCase
<link rel="stylesheet" type="text/css" href="~/CSS/TestCase/Index.css" />

@{
	ViewBag.Title = @Model.Name;
	Layout = "/Views/Shared/_Layout.cshtml";
}

<div><a asp-action="ShowInfo" asp-controller="Project" asp-route-projectName=@Model.Suite.Project.Name>Return</a>	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></div>

<div>
	<h3>Description:</h3>
	<p> @Model.Description </p>
</div>
	<table class="testCaseTable">
	<tr><th>Id</th><th>Action</th><th>Expected Result</th></tr>
		@for (int i = 0; i < Model.Steps.Count; i++)
		{
			<tr>
				<td class="Id">@(i+1)</td>
				<td>@Model.Steps[i].Action</td>
				<td>@Model.Steps[i].ExpectedResult</td>
			</tr>
		}
	</table>