@using Test_Manager_Alpha.Models;
@model Test_Manager_Alpha.Models.TestCase

@{
	ViewBag.Title = @Model.Name;
	Layout = "/Views/Shared/_Layout.cshtml";
}

<div><a asp-action="ShowInfo" asp-controller="Project" asp-route-projectName=@Model.Suite.Project.Name>Return</a>	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></div>

<div>
	<h3>Description:</h3>
	<p> @Model.Description </p>
</div>
	<table class="table">
		<tr><th>Suite Name</th><th>TC</th><th>Add Test Case</th></tr>
		@for (int i = 0; i < Model.Steps.Count; i++)
		{
			<tr>
				<td>@i</td>
				<td>@Model.Steps[i].Action</td>
				<td>@Model.Steps[i].ExpectedResult</td>
			</tr>
		}
	</table>