@using Test_Manager_Alpha.Models;
@model Test_Manager_Alpha.Models.Project
<link rel="stylesheet" type="text/css" href="~/CSS/Shared/_Layout.css" />
<link rel="stylesheet" type="text/css" href="~/CSS/Project/ShowInfo.css" />

@{
	ViewBag.Title = @Model.Name;
	Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
	<h3>Description:</h3>
	<p> @Model.Description </p>
</div>

<h3>Test Suites:</h3>
<p><a class="adding" asp-action="AddTestSuite" asp-route-projectName="@Model.Name">Add Test Suite</a></p>
@foreach (TestSuite testSuite in @Model.TestSuites)
{
	<p class="testSuite">@testSuite.Name (@testSuite.TestCases.Count)</p>
	<ul>
		@foreach (TestCase testCase in testSuite.TestCases)
		{
			<li><a class="testCase" asp-action="Index" asp-controller="TestCase" asp-route-testCaseId="@testCase.Id">@testCase.Name</a></li>
		}
	</ul>
	<a class="addingLite" asp-action="AddTestCase" asp-route-testSuiteId="@testSuite.Id">Add Test Case</a>
}
